<div class="col-8 col-sm-6 col-md mb-6 mb-xl-3 text-right">
  <button type="button" class="btn btn-outline-success"><i class="fa fa-plus"></i>&nbsp;Add Riders</button>
</div>

<div class="col-lg-13">
    <div class="card">
      <div class="card-header">
          <h5>Total Riders</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>E-mail address</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Samppa Nori</td>
              <td>2012/01/01</td>
              <td>user@gmail.com</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
