<div class="card">
    <div class="card-header">
      <strong>Restaurants</strong>
      <small>Form</small>
      <button (click)="closeEditForm()" style="float: right; border: none; border-color: transparent; border-radius: 3px;">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Select food type</label>
        <mat-select name="sourceType" placeholder="Main course">
            <mat-option [value]=10>Main course</mat-option>
            <mat-option [value]=20>Desert</mat-option>
            <mat-option [value]=30>Beverage</mat-option>
            <mat-option [value]=40>Apatizer</mat-option>
          </mat-select>
      </div>
      <div class="form-group">
        <label>Item name</label>
        <input type="text" class="form-control" id="itemName" placeholder="Enter item name">
      </div>
      <div class="form-group">
          <label>Item price</label>
          <input type="text" class="form-control" id="itemPrice" placeholder="Enter item price">
        </div>
    </div>
    <div class="col-8 col-sm-6 col-md mb-6 mb-xl-3 text-left" style="margin-left: 20px">
        <button type="button" class="btn btn-outline-success">Submit</button>
    </div>
  </div>
