<div class="animated fadeIn">

  <div class="row clearfix">

    <!--Users widget-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-users bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">6</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total Users</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" routerLink="/users">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>

    <!--Restaurants widget-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-cutlery bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">5</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total Restaurants</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" routerLink="/restaurants">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>

    <!--Riders widget-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-bicycle bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2">5</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total Riders</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" routerLink="/riders">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>


  </div>

  <!-- <div class="col-lg-13">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Simple Table
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Samppa Nori</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div> -->

</div>
