<div class="row">
    <div class="col-8 col-sm-6 col-md mb-6 mb-xl-3 text-left" style="margin-right: 20px">
        <button type="button" (click)="createMenuItem()" class="btn btn-outline-success"><i class="fa fa-plus"></i>&nbsp;Add menu item</button>
      </div>
    <button (click)="closeEditForm()" style="align-content: right; border: none; border-color: transparent; border-radius: 3x;">
        <i class="fa fa-close"></i>
      </button>
</div>

<div class="col-lg-13">
      <div class="card">
        <div class="card-header">
            <h5>Restaurant menu</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Food type</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Main course</td>
                <td>Devilled chicken</td>
                <td>2500</td>
                <td>
                  <div style="display: flex; margin-left: 0px;">
                    <div class="col-4 ">
                      <button (click)="editMenuItem()" type="button" class="btn btn-pill btn-block btn-primary">
                        <i class="fa fa-edit"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let menus of menu">
                <td> {{ menus.Type }}</td>
                <td> {{ menus.DisplayName }}</td>
                <td> {{ menus.Price }}</td>
                <td>
                  <div style="display: flex; margin-left: 0px;">
                    <div class="col-4 ">
                      <button (click)="editMenuItem(menus.id)" type="button" class="btn btn-pill btn-block btn-primary">
                        <i class="fa fa-edit"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
