<div class="card">
    <div class="card-header">
      <strong>Restaurants</strong>
      <small>Form</small>
      <button (click)="closeEditForm()" style="float: right; border: none; border-color: transparent; border-radius: 3px;">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Restaurant name</label>
        <input type="text" class="form-control" id="company" placeholder="Enter your restaurant name">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter your city">
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Latitude</label>
          <input type="text" class="form-control" id="latitude" placeholder="Enter latitude">
        </div>
        <div class="form-group col-sm-6">
          <label>Longitude</label>
          <input type="text" class="form-control" id="longitude" placeholder="Enter longitude">
        </div>
      </div><!--/.row-->
    </div>
    <div class="row">
        <div class="col-8 col-sm-6 col-md mb-6 mb-xl-3 text-left" style="margin-left: 20px">
            <button type="button" class="btn btn-outline-success">Save Changes</button>
        </div>
        <div class="col-8 col-sm-6 col-md mb-6 mb-xl-3 text-right" style="margin-right: 20px">
            <button type="button" class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
  </div>
