<div class="card">
    <div class="card-header">
      <strong>Restaurants</strong>
      <small>Form</small>
      <button (click)="closeEditForm()" style="float: right; border: none; border-color: transparent; border-radius: 3px;">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Restaurant name</label>
        <input type="text" class="form-control" id="restaurant" placeholder="Enter your restaurant name" [(ngModel)]="restaurant.displayName">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter your city" [(ngModel)]="restaurant.city">
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Latitude</label>
          <input type="text" class="form-control" id="latitude" placeholder="Enter latitude" [(ngModel)]="restaurant.latitutde">
        </div>
        <div class="form-group col-sm-6">
          <label>Longitude</label>
          <input type="text" class="form-control" id="longitude" placeholder="Enter longitude" [(ngModel)]="restaurant.longitude">
        </div>
      </div><!--/.row-->
    </div>
    <div class="col-8 col-sm-6 col-md mb-6 mb-xl-3">
        <button type="button" class="btn btn-outline-success" (click) = "onCreate(restaurant)">Create</button>
    </div>
  </div>
